@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-en bg-white text-gray-900 antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-moul;
  }
}
